{
    "openapi": "3.0.2",
    "info": {
        "title": "TDEI Consumer API",
        "version": "1.0",
        "description": "This is an API for retrieving data from the Transportation Data Equity Initiative (TDEI) data system. This API is intended for applications consuming data from the TDEI system. This API supports retrieval of GTFS-Pathways, GTFS-Flex v2 and OpenSidewalks data from the TDEI. ",
        "contact": {
            "name": "TDEI Support",
            "url": "https://placeholder.transequity.cs.washington.edu/support",
            "email": "placeholder_support@transequity.cs.washington.edu"
        }
    },
    "servers": [
        {
            "url": "https://placeholder.transequity.cs.washington.edu",
            "description": "Placeholder for the TDEI endpoint."
        }
    ],
    "paths": {
        "/tdei_consumer/": {
            "summary": "List TDEI Consumer API versions.",
            "description": "Returns a json list of the TDEI Consumer API versions.",
            "get": {
                "tags": [],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                },
                                "example": {
                                    "total": 2,
                                    "apis": [
                                        {
                                            "apiKey": "oa_citations",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/oa_citations/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_citations.json"
                                        },
                                        {
                                            "apiKey": "cancer_moonshot",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/cancer_moonshot/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/cancer_moonshot.json"
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Returns a list of versions"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-api-versions",
                "summary": "List available API versions",
                "description": "Lists the versions of the TDEI consumer API which are available."
            }
        },
        "/tdei_consumer/v1.0/agencies": {
            "summary": "Path used to manage the list of agencies.",
            "description": "Returns a list of agency names and agency ids for all agencies with data in the TDEI system. This path contains `GET` operation to retrive the list of agencies. ",
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/agency"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array of `Agency` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-agencies",
                "summary": "List Agencies",
                "description": "Gets a list of all `Agency` entities."
            }
        },
        "/tdei_consumer/v1.0/gtfs_pathways/": {
            "summary": "Retrieve the most current pathways files for an agency.",
            "description": "Returns a url to a zip file containing the most current GTFS static data, including pathways.txt, stops.txt and levels.txt, for the specified agency. ",
            "get": {
                "parameters": [
                    {
                        "name": "agency_id",
                        "description": "An integer identifying the agency for which the data is requested. Valid agency_ids can be retrieved using the /agencies path.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/GTFSResponseUrl"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/IdNotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "retrieve-pathways-data",
                "summary": "Retrieve GTFS pathways data.",
                "description": "Returns a url to a zip file containing the most current\nGTFS-static files, including the pathways.txt, stops.txt, and levels.txt files, for the specified agency.\n\n"
            }
        },
        "/tdei_consumer/v1.0/gtfs_flex/v2/": {
            "summary": "Retrieve the most current flex files for an agency,.",
            "description": "Returns a url to a zip file containing the most current flexible trips and booking rules files for the specified agency. ",
            "get": {
                "parameters": [
                    {
                        "name": "agency_id",
                        "description": "An integer id that identifies the agency. Valid agency_ids can be obtained using the /agencies/ path",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/GTFSResponseUrl"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/IdNotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "retrieve-flex-data",
                "summary": "Retrieve GTFS flex data.",
                "description": "Returns a url to a zip file containing the most current\nflexible trips and booking rules files for the specified agency."
            }
        },
        "/tdei_consumer/v1.0/osw/v1": {
            "summary": "Retrieve the most current pathways files for an agency, station or bounding box.",
            "description": "Returns a url to a gzip'd containing geojson OSW v1 data for the specified bounding box. ",
            "get": {
                "parameters": [
                    {
                        "examples": {
                            "bounding_box": {
                                "value": {
                                    "bbox": "23.5, 123.1, 23.1, 1234.5"
                                }
                            }
                        },
                        "name": "bounding_box",
                        "description": "A bounding box which specifies the area to be searched. A bounding box is specified by a string providing the lat/lon coordinates of the corners of the bounding box. Coordinate should be specified as west, south, east, north.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "$ref": "#/components/responses/OSWUrl"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/BBoxNotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "retrieve-osw-data",
                "summary": "Retrieve OSW data.",
                "description": "Returns a url for a gzip'd geojson file containing the most current osw data for a specified bounding box. This path returns v1 osw data."
            }
        }
    },
    "components": {
        "schemas": {
            "versionList": {
                "title": "Root Type for VersionList",
                "description": "List of API Versions.",
                "type": "object",
                "properties": {
                    "versions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "example": {
                    "versions": [
                        "v1.0",
                        "v1.1"
                    ]
                }
            },
            "agency": {
                "title": "Root Type for Agency",
                "description": "An agency which has data stored in the TDEI system. Includes agency_id and associated agency_name. ",
                "type": "object",
                "properties": {
                    "agency": {
                        "type": "object",
                        "properties": {
                            "agency_id": {
                                "format": "int32",
                                "type": "integer"
                            },
                            "agency_name": {
                                "type": "string"
                            }
                        }
                    }
                },
                "example": {
                    "agency": {
                        "agency_id": 1,
                        "agency_name": "King County Metro"
                    }
                }
            }
        },
        "responses": {
            "Unauthorized": {
                "description": "This request is unauthorized. appID is invalid. Please obtain a valid application ID (appID)."
            },
            "InternalServerError": {
                "description": "An server error occurred."
            },
            "IdNotFound": {
                "description": "The requested id was not found. That is the agency_id provided does not exist in the TDEI system. Use the /agencies path to find valid agency_ids."
            },
            "OSWUrl": {
                "content": {
                    "application/json": {
                        "examples": {
                            "OSWUrlExample": {
                                "value": {
                                    "osw_url": {
                                        "bounding_box": "123.1, 123.4, 123.6, 123.7",
                                        "url": "url1"
                                    }
                                }
                            }
                        }
                    }
                },
                "description": "A url to a gzip'd geojson OSW file."
            },
            "GTFSResponseUrl": {
                "content": {
                    "application/json": {
                        "examples": {
                            "PathwaysURL": {
                                "value": {
                                    "agency_name": "King County Metro",
                                    "agency_id": 1,
                                    "url": "url with link to pathways data for this agency"
                                }
                            }
                        }
                    }
                },
                "description": "A list of urls with gtfs data. urls are identified by station_id."
            },
            "BBoxNotFound": {
                "description": "There was no data found in the specified bounding box. Data is expected to be available for King and Snohomish counties in Washington, Multnomah and Columbia counties in Oregon, and Baltimore and Harford counties in Maryland."
            }
        },
        "securitySchemes": {
            "ApplicationId": {
                "type": "apiKey",
                "description": "Application Id required by all applications that use the TDEI Consumer API.",
                "name": "appID",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "ApplicationId": []
        }
    ]
}
