{
    "openapi": "3.0.2",
    "info": {
        "title": "TDEI API",
        "version": "1.0",
        "description": "This is an API for publishing data to the Transportation Data Equity Initiative (TDEI) data system. This API is intended for applications producing data for and consuming data from the TDEI system. This API supports publishing of GTFS-Pathways, GTFS-Flex v2 and OpenSidewalks data to the TDEI. ",
        "contact": {
            "name": "TDEI Support",
            "url": "https://placeholder.transequity.cs.washington.edu/support",
            "email": "placeholder_support@transequity.cs.washington.edu"
        }
    },
    "servers": [
        {
            "url": "https://placeholder.transequity.cs.washington.edu",
            "description": "Placeholder for the TDEI endpoint."
        }
    ],
    "paths": {
        "/api": {
            "summary": "List TDEI API versions.",
            "description": "Returns a json list of the TDEI API versions.",
            "get": {
                "tags": [],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                },
                                "example": {
                                    "total": 2,
                                    "apis": [
                                        {
                                            "apiKey": "oa_citations",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/oa_citations/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_citations.json"
                                        },
                                        {
                                            "apiKey": "cancer_moonshot",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/cancer_moonshot/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/cancer_moonshot.json"
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Returns a list of versions"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-api-versions",
                "summary": "List available API versions",
                "description": "Lists the versions of the TDEI  API which are available."
            }
        },
        "/api/v1.0/agencies": {
            "summary": "Path used to retrieve the list of agencies with data in the TDEI system. Allows callers to get the tdei_agency_id id for an agency.",
            "description": "Returns the tdei_agency_id and agency information for all agencies with data in the TDEI system. ",
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/agency"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array of `Agency` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-agencies",
                "summary": "List Agencies",
                "description": "Path used to retrieve the list of agencies with data in the TDEI system. Allows callers to get the tdei_agency_id id for an agency.\n\nReturns the tdei_agency_id and agency information for all agencies with data in the TDEI system. "
            }
        },
        "/api/v1.0/stations": {
            "summary": "Path used to retrieve the list of stations with data in the TDEI system. Allows callers to get the tdei_station_id id for a station.",
            "description": "Returns the tdei_station_id and station information for all stations with data in the TDEI system. ",
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/station"
                                    }
                                }
                            }
                        },
                        "description": "Returns an array of `Station` entities. "
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-stations",
                "summary": "List Stations",
                "description": "Returns a list of all `Station` entities. See endpoint description for detail."
            }
        },
        "/api/v1.0/osw/": {
            "summary": "List OSW versions supported by TDEI.",
            "description": "Returns a json list of the OSW versions supported by TDEI.",
            "get": {
                "tags": [],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                },
                                "example": {
                                    "total": 2,
                                    "apis": [
                                        {
                                            "apiKey": "oa_citations",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/oa_citations/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_citations.json"
                                        },
                                        {
                                            "apiKey": "cancer_moonshot",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/cancer_moonshot/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/cancer_moonshot.json"
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Returns a json list of osw versions supported by TDEI."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-osw-versions",
                "summary": "List available OSW versions",
                "description": "Lists the versions of OSW data which are supported by TDEI."
            }
        },
        "/api/v1.0/gtfs-flex/": {
            "summary": "List GTFS flex versions supported by TDEI.",
            "description": "Returns a json list of the GTFS flex versions supported by TDEI.",
            "get": {
                "tags": [],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                },
                                "example": {
                                    "total": 2,
                                    "apis": [
                                        {
                                            "apiKey": "oa_citations",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/oa_citations/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_citations.json"
                                        },
                                        {
                                            "apiKey": "cancer_moonshot",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/cancer_moonshot/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/cancer_moonshot.json"
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Returns a list of flex versions supported by TDEI."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-flex-versions",
                "summary": "List available GTFS flex versions",
                "description": "List GTFS flex versions supported by TDEI.\n\nReturns a json list of the GTFS flex versions supported by TDEI."
            }
        },
        "/api/v1.0/gtfs-pathways/": {
            "summary": "List GTFS Pathways versions supported by TDEI.",
            "description": "Returns a json list of the GTFS Pathways versions supported by TDEI.",
            "get": {
                "tags": [],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                },
                                "example": {
                                    "total": 2,
                                    "apis": [
                                        {
                                            "apiKey": "oa_citations",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/oa_citations/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_citations.json"
                                        },
                                        {
                                            "apiKey": "cancer_moonshot",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/cancer_moonshot/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/cancer_moonshot.json"
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Returns a list of pathways versions"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-pathways-versions",
                "summary": "List available GTFS Pathways versions",
                "description": "Lists the versions of GTFS pathways data which are supported by TDEI.\nReturns a json list of the GTFS pathways versions supported by TDEI."
            }
        },
        "/api/v1.0/gtfs-pathways/list": {
            "summary": "Path used to retrieve a list of gtfs pathways files. Bounding box, confidence, pathways version can be specified. Allows user to get the tdei_record_id for a specific file so file can be updated.",
            "description": "This endpoint returns a json list of all gtfs flex files stored in the TDEI system that meet the specified criteria. Criteria that can be specified include: bounding box, minimum confidence level and flex version.\n\nThis endpoint can be used by an application developer to obtain a list of gtfs flex files in the TDEI system meeting the specified criteria. This endpoint returns a list of file-metadata including the uris of the file, which can be used to fetch the files themselves.",
            "get": {
                "parameters": [
                    {
                        "name": "bbox",
                        "description": "A bounding box which specifies the area to be searched. A bounding box is specified by a string providing the lat/lon coordinates of the corners of the bounding box. Coordinate should be specified as west, south, east, north.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "confidence_level",
                        "description": "Minimum confidence level required by application. Data returned will be at this confidence level or higher.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "version",
                        "description": "version name of the pathways schema version that the application requests. list of versions can be found with /api/v1.0/gtfs_pathways path",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "date_time",
                        "description": "date-time for which the caller is interested in obtaining files. all files that are valid at the specified date-time and meet the other criteria will be returned.",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "tdei_agency_id",
                        "description": "tdei-assigned agency id. Necessary to ensure that agency ids are unique. Represented as a UUID.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/gtfs_pathways_download"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array of `gtfs_pathways_download` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-pathways-files",
                "summary": "List pathways files meeting criteria.",
                "description": "This endpoint returns a json list of all gtfs pathways files stored in the TDEI system that meet the specified criteria. Criteria that can be specified include: bounding box, minimum confidence level, pathways version, date time and agency id.\n\nThis endpoint can be used by an application developer to obtain a list of gtfs pathways files in the TDEI system meeting the specified criteria. This endpoint returns a list of file-metadata including the uris of the file, which can be used to fetch the files themselves."
            }
        },
        "/api/v1.0/gtfs-pathways/upload/": {
            "summary": "Path used to upload / create a new gtfs pathways file.",
            "description": "This path allows a user to upload or create a new gtfs pathways file. The caller must provide metadata about the file. Required metadata includes information about how and when the data was collected and valid dates of the file",
            "post": {
                "requestBody": {
                    "description": "meta-data and uri for pathways file",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/gtfs_pathways_download"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "File creation accepted."
                    },
                    "400": {
                        "$ref": "#/components/responses/InvalidRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "upload-pathways-file",
                "summary": "create pathways file.",
                "description": "This call allows a user to upload or create a new gtfs pathways file. The caller must provide metadata about the file. Required metadata includes information about how and when the data was collected and valid dates of the file."
            }
        },
        "/api/v1.0/osw/list": {
            "summary": "Path used to retrieve a list of osw files. Bounding box, confidence, osw version can be specified. Allows user to get the tdei_record_id for a specific file so file can be updated.",
            "description": "This endpoint returns a list of url to gzip'd geojson files with osw data that meet the specified criteria. Criteria that can be specified include: bounding box, minimum confidence level and pathways version.\n\nThis endpoint can be used by an application developer to obtain a list of osw files in the TDEI system meeting the specified criteria.",
            "get": {
                "parameters": [
                    {
                        "examples": {
                            "bounding_box": {
                                "value": {
                                    "bbox": "23.5, 123.1, 23.1, 1234.5"
                                }
                            }
                        },
                        "name": "bounding_box",
                        "description": "A bounding box which specifies the area to be searched. A bounding box is specified by a string providing the lat/lon coordinates of the corners of the bounding box. Coordinate should be specified as west, south, east, north.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "confidence_level",
                        "description": "Minimum confidence level required. Data returned will be at this confidence level or higher.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "schema_version",
                        "description": "A string with the name of the schema version the application requests.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/osw_download"
                                }
                            }
                        },
                        "description": "Successful response - returns an array of `osw_download` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/OSWNotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-osw-files",
                "summary": "List osw files meeting criteria.",
                "description": "This endpoint returns a list of url to gzip'd geojson files with osw data that meet the specified criteria. Criteria that can be specified include: bounding box, minimum confidence level and pathways version.\n\nThis endpoint can be used by an application developer to obtain a list of osw files in the TDEI system meeting the specified criteria."
            }
        },
        "/api/v1.0/gtfs-flex/upload": {
            "summary": "Path used to upload / create a new gtfs flex file.",
            "description": "This path allows a user to upload or create a new gtfs flex file. The caller must provide metadata about the file. Required metadata includes information about how and when the data was collected and valid dates of the file.  ",
            "post": {
                "requestBody": {
                    "description": "specify metadata and uri for new file",
                    "required": true
                },
                "responses": {
                    "202": {
                        "description": "Successful file creation. returns data_record_id of new file."
                    },
                    "400": {
                        "$ref": "#/components/responses/InvalidRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "upload-flex-file",
                "summary": "upload a new gtfs_flex file",
                "description": "This call allows a user to upload or create a new gtfs pathways file. The caller must provide metadata about the file. Required metadata includes information about how and when the data was collected and valid dates of the file."
            }
        },
        "/api/v1.0/osw/upload/": {
            "summary": "Path used to upload/create a new osw data file.",
            "description": "This path allows a user to upload or create a new osw file. The caller must provide metadata about the file - includes information about how and when the data was collected and valid dates of the file. ",
            "post": {
                "requestBody": {
                    "description": "meta-data and uri for pathways file",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/osw_upload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        },
                        "description": "File creation accepted."
                    },
                    "400": {
                        "$ref": "#/components/responses/InvalidRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "upload-osw-file",
                "summary": "upload a new osw file",
                "description": "This path allows a user to upload or create a new osw file. The caller must provide metadata about the file - includes information about how and when the data was collected and valid dates of the file. "
            }
        },
        "/api/v1.0/gtfs-flex/list/": {
            "summary": "Path used to retrieve a list of gtfs flex files. Bounding box, confidence, flex version, date time and agency id can be specified. Allows user to get the tdei_record_id for a specific file so file can be updated.",
            "description": "This endpoint returns a json list of all gtfs flex files stored in the TDEI system that meet the specified criteria. Criteria that can be specified include: bounding box, minimum confidence level, flex version, date time and agency id.\n\nThis endpoint can be used by an application developer to obtain a list of gtfs flex files in the TDEI system meeting the specified criteria. This endpoint returns a list of file-metadata including the uris of the file, which can be used to fetch the files themselves.",
            "get": {
                "parameters": [
                    {
                        "name": "bbox",
                        "description": "A bounding box which specifies the area to be searched. A bounding box is specified by a string providing the lat/lon coordinates of the corners of the bounding box. Coordinate should be specified as west, south, east, north.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "confidence-level",
                        "description": "Minimum confidence level required by application. Data returned will be at this confidence level or higher.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "version",
                        "description": "version name of the flex schema version that the application requests. list of versions can be found with /api/v1.0/gtfs_flex path",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "tdei_agency_id",
                        "description": "tdei-assigned agency id. Necessary to ensure that agency ids are unique. Represented as a UUID.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "date_time",
                        "description": "date-time for which the caller is interested in obtaining files. all files that are valid at the specified date-time and meet the other criteria will be returned.",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/gtfs_flex_download"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array of `gtfs_flex_download` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-flex-files",
                "summary": "List flex files meeting specified criteria.",
                "description": "This endpoint returns a json list of all gtfs flex files stored in the TDEI system that meet the specified criteria. Criteria that can be specified include: bounding box, minimum confidence level, flex version, date time and agency id.\n\nThis endpoint can be used by an application developer to obtain a list of gtfs flex files in the TDEI system meeting the specified criteria. This endpoint returns a list of file-metadata including the uris of the file, which can be used to fetch the files themselves."
            }
        }
    },
    "components": {
        "schemas": {
            "versionList": {
                "title": "Root Type for VersionList",
                "description": "List of API Versions.",
                "type": "object",
                "properties": {
                    "versions": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "example": {
                    "versions": [
                        {
                            "version": "v1.0",
                            "documentation": "link to v1.0 documentation"
                        },
                        {
                            "version": "v1.1",
                            "documentation": "link to v1.1 documentation"
                        }
                    ]
                }
            },
            "agency": {
                "description": "Includes gtfs agency information and a tdei agency id. Necessary as gtfs agency id may not be unique across agencies.",
                "required": [
                    "tdei_agency_id",
                    "agency_name"
                ],
                "type": "object",
                "properties": {
                    "tdei_agency_id": {
                        "description": "tdei-assigned agency id. Necessary to ensure that agency ids are unique. Represented as a UUID.",
                        "type": "string"
                    },
                    "agency_name": {
                        "description": "Agency name. Typically the agency name used in GTFS releases.",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_station_id": 37,
                    "station_name": "King County Metro"
                }
            },
            "station": {
                "description": "Includes gtfs station information and a tdei agency id. Necessary as gtfs station id may not be unique across agencies.",
                "required": [
                    "tdei_station_id",
                    "station_name"
                ],
                "type": "object",
                "properties": {
                    "tdei_station_id": {
                        "description": "tdei assigned station id. Necessary to ensure that station ids are unique.",
                        "type": "integer"
                    },
                    "station_name": {
                        "description": "station_name used in GTFS files",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_station_id": 30,
                    "station_name": "Northgate"
                }
            },
            "gtfs_flex_upload": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "tdei_agency_id",
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "schema_version",
                    "uri",
                    "data_source"
                ],
                "type": "object",
                "properties": {
                    "tdei_agency_id": {
                        "description": "tdei-assigned agency id. Represented as UUID. Agency ids can be retrieved using the /api/v1.0/agencies path.",
                        "type": "string"
                    },
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "schema_version": {
                        "description": "version of gtfs flex schema this file conforms to",
                        "type": "string"
                    },
                    "uri": {
                        "description": "uri where the flex file can be retrieved from",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "polygon": {
                        "description": "Optional polygon that indicates the boundaries of data included in this file. ",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_agency_id": "some text",
                    "collected_by": "some text",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "some text",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "schema_version": "some text",
                    "uri": "some text",
                    "data_source": "some text",
                    "polygon": "some text"
                }
            },
            "gtfs_pathways_upload": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "tdei_agency_id",
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "schema_version",
                    "uri",
                    "data_source",
                    "tdei_station_id"
                ],
                "type": "object",
                "properties": {
                    "tdei_agency_id": {
                        "description": "tdei-assigned agency id. Represented as UUID. Agency ids can be retrieved using the /api/v1.0/agencies path.",
                        "type": "string"
                    },
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "schema_version": {
                        "description": "version of gtfs pathways schema this file conforms to",
                        "type": "string"
                    },
                    "uri": {
                        "description": "uri where the pathways file can be retrieved from",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "tdei_station_id": {
                        "description": "tdei-assigned station id. Represented as UUID. Station ids can be retrieved using the /api/v1.0/stations path.",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_agency_id": "some text",
                    "collected_by": "some text",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "some text",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "schema_version": "some text",
                    "uri": "some text",
                    "data_source": "some text",
                    "tdei_station_id": "some text"
                }
            },
            "gtfs_flex_download": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "tdei_agency_id",
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "schema_version",
                    "confidence_level",
                    "uri",
                    "data_source",
                    "polygon"
                ],
                "type": "object",
                "properties": {
                    "tdei_agency_id": {
                        "description": "tdei-assigned agency id. Represented as UUID. Agency ids can be retrieved using the /api/v1.0/agencies path.",
                        "type": "string"
                    },
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "schema_version": {
                        "description": "version of gtfs flex schema this file conforms to",
                        "type": "string"
                    },
                    "confidence_level": {
                        "description": "tdei-generated confidence level",
                        "type": "integer"
                    },
                    "uri": {
                        "description": "uri where the flex file can be retrieved from",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "polygon": {
                        "description": "Polygon that indicates the boundaries of data included in this file. ",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_agency_id": "some text",
                    "collected_by": "some text",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "some text",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "schema_version": "some text",
                    "confidence_level": 26,
                    "uri": "some text",
                    "data_source": "some text",
                    "polygon": "some text"
                }
            },
            "gtfs_pathways_download": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "tdei_agency_id",
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "schema_version",
                    "confidence_level",
                    "uri",
                    "data_source",
                    "tdei_station_id"
                ],
                "type": "object",
                "properties": {
                    "tdei_agency_id": {
                        "description": "tdei-assigned agency id. Represented as UUID. Agency ids can be retrieved using the /api/v1.0/agencies path.",
                        "type": "string"
                    },
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "schema_version": {
                        "description": "version of gtfs pathways schema this file conforms to",
                        "type": "string"
                    },
                    "confidence_level": {
                        "description": "tdei-generated confidence level",
                        "type": "integer"
                    },
                    "uri": {
                        "description": "uri where the pathways file can be retrieved from",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "tdei_station_id": {
                        "description": "tdei-assigned station id. Represented as UUID. Station ids can be retrieved using the /api/v1.0/stations path.",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_agency_id": "some text",
                    "collected_by": "some text",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "some text",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "schema_version": "some text",
                    "confidence_level": 37,
                    "uri": "some text",
                    "data_source": "some text",
                    "tdei_station_id": "some text"
                }
            },
            "osw_upload": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "schema_version",
                    "uri",
                    "data_source",
                    "polygon"
                ],
                "type": "object",
                "properties": {
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "schema_version": {
                        "description": "version of gtfs flex schema this file conforms to",
                        "type": "string"
                    },
                    "uri": {
                        "description": "uri where the flex file can be retrieved from",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "polygon": {
                        "description": "Optional polygon that indicates the boundaries of data included in this file. ",
                        "type": "string"
                    }
                },
                "example": {
                    "collected_by": "some text",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "some text",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "schema_version": "some text",
                    "uri": "some text",
                    "data_source": "some text",
                    "polygon": "some text"
                }
            },
            "osw_download": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "schema_version",
                    "uri",
                    "data_source",
                    "polygon",
                    "confidence_level"
                ],
                "type": "object",
                "properties": {
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "schema_version": {
                        "description": "version of gtfs flex schema this file conforms to",
                        "type": "string"
                    },
                    "uri": {
                        "description": "uri where the flex file can be retrieved from",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "polygon": {
                        "description": "Optional polygon that indicates the boundaries of data included in this file. ",
                        "type": "string"
                    },
                    "confidence_level": {
                        "description": "tdei-generated confidence level",
                        "type": "integer"
                    }
                },
                "example": {
                    "collected_by": "some text",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "some text",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "schema_version": "some text",
                    "uri": "some text",
                    "data_source": "some text",
                    "polygon": "some text",
                    "confidence_level": 91
                }
            }
        },
        "responses": {
            "Unauthorized": {
                "description": "This request is unauthorized. appID is invalid. Please obtain a valid application ID (appID)."
            },
            "InternalServerError": {
                "description": "An server error occurred."
            },
            "PathwaysFileNotFound": {
                "description": "A GTFS pathways file that matches the specified parameters (combination of agencyid, stationid, confidence level, and version) was not found."
            },
            "FlexFileNotFound": {
                "description": "A GTFS flex file that matches the specified parameters (combination of agencyid, confidence level, and version) was not found."
            },
            "FileIdNotFound": {
                "description": "A file with the specified id was not found. Use the /tdei_consumer/v1.0/gtfs_pathways or /tdei_consumer/v1.0/gtfs_flex endpoints to find valid file ids. "
            },
            "OSWNotFound": {
                "description": "OSW data meeting the specifications (version and bounding box) was not found.Data is expected to be available for King and Snohomish counties in Washington, Multnomah and Columbia counties in Oregon, and Baltimore and Harford counties in Maryland."
            },
            "InvalidRequest": {
                "description": "The request was invalid. For example, trying to do a meta-data update that is not allowed."
            }
        },
        "securitySchemes": {
            "ApplicationId": {
                "type": "apiKey",
                "description": "Application Id required by all applications that use the TDEI Consumer API.",
                "name": "appID",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "ApplicationId": []
        }
    ]
}
