{
    "openapi": "3.0.2",
    "info": {
        "title": "TDEI API - v1 - POR",
        "version": "1.0",
        "description": "This is an API for publishing data to the Transportation Data Equity Initiative (TDEI) data system. This API is intended for applications producing data for and consuming data from the TDEI system. This API supports publishing of GTFS-Pathways, GTFS-Flex v2 and OpenSidewalks data to the TDEI. ",
        "contact": {
            "name": "TDEI Support",
            "url": "https://placeholder.transequity.cs.washington.edu/support",
            "email": "placeholder_support@transequity.cs.washington.edu"
        }
    },
    "servers": [
        {
            "url": "https://placeholder.transequity.cs.washington.edu",
            "description": "Placeholder for the TDEI endpoint."
        }
    ],
    "paths": {
        "/api": {
            "summary": "List TDEI API versions.",
            "description": "",
            "get": {
                "tags": [
                    "General"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                },
                                "example": {
                                    "total": 2,
                                    "apis": [
                                        {
                                            "apiKey": "oa_citations",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/oa_citations/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/oa_citations.json"
                                        },
                                        {
                                            "apiKey": "cancer_moonshot",
                                            "apiVersionNumber": "v1",
                                            "apiUrl": "https://developer.uspto.gov/ds-api/cancer_moonshot/v1/fields",
                                            "apiDocumentationUrl": "https://developer.uspto.gov/ds-api-docs/index.html?url=https://developer.uspto.gov/ds-api/swagger/docs/cancer_moonshot.json"
                                        }
                                    ]
                                }
                            }
                        },
                        "description": "Returns a list of versions"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-api-versions",
                "summary": "List available API versions",
                "description": "Returns a json list of the versions of the TDEI API which are available."
            }
        },
        "/api/v1/osw/versions": {
            "summary": "List OSW versions supported by TDEI.",
            "description": "",
            "get": {
                "tags": [
                    "OSW"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                }
                            }
                        },
                        "description": "Returns list of OSW versions supported by TDEI."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-osw-versions",
                "summary": "List available OSW versions",
                "description": "Lists the versions of OSW data which are supported by TDEI."
            }
        },
        "/api/v1/osw": {
            "summary": "Path used to manage osw files.",
            "description": "",
            "get": {
                "tags": [
                    "OSW"
                ],
                "parameters": [
                    {
                        "examples": {
                            "bounding_box": {
                                "value": {
                                    "bbox": "23.5, 123.1, 23.1, 1234.5"
                                }
                            }
                        },
                        "name": "polygon",
                        "description": "A polygon (bounding box) which specifies the area to be searched. A polygon is specified by a string providing the lat/lon coordinates of the corners of the polygon. Coordinate should be specified as west, south, east, north.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": true
                    },
                    {
                        "name": "confidence_level",
                        "description": "Minimum confidence level required. Data returned will be at this confidence level or higher. Confidence level range is: 0 (very low confidence) to 100 (very high confidence).",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "osw_schema_version",
                        "description": "A string with the name of the schema version the application requests.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "tdei_record_id",
                        "description": "if included, returns the metadata for the specified file, all other parameters will be ignored.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "page_no",
                        "description": "integer, defaults to 0",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "page_size",
                        "description": "integer, between 20 and 100, defaults to 20",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "tdei_org_id",
                        "description": "tdei organization id.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/osw_download_md"
                                }
                            },
                            "multipart/form-data": {}
                        },
                        "description": "Successful response - returns an array of `osw_download` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/OSWNotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-osw-files",
                "summary": "List osw files meeting criteria.",
                "description": "This endpoint returns a list of url to gzip'd geojson files with osw data that meet the specified criteria. Criteria that can be specified include: bounding box, minimum confidence level and pathways version.\n\nThis endpoint can be used by an application developer to obtain a list of osw files in the TDEI system meeting the specified criteria."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/osw_upload"
                            }
                        }
                    },
                    "required": true
                },
                "tags": [
                    "OSW"
                ],
                "responses": {
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Successful file creation. returns tdei_record_id of new file."
                    },
                    "400": {
                        "$ref": "#/components/responses/InvalidRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "upload-osw-file",
                "summary": "Path used to upload/create a new osw data file.",
                "description": "This path allows a user to upload or create a new osw file. The caller must provide metadata about the file - includes information about how and when the data was collected and valid dates of the file. Returns the tdei_record_id of the uploaded file."
            }
        },
        "/api/v1/gtfs-pathways/versions": {
            "summary": "List GTFS Pathways versions supported by TDEI.",
            "description": "",
            "get": {
                "tags": [
                    "GTFS-Pathways"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                }
                            }
                        },
                        "description": "List of GTFS Pathways versions suppored by TDEI."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-pathways-versions",
                "summary": "List available GTFS Pathways versions",
                "description": "Lists the versions of GTFS pathways data which are supported by TDEI.\nReturns a json list of the GTFS pathways versions supported by TDEI."
            }
        },
        "/api/v1/gtfs-pathways": {
            "summary": "Path used to manage gtfs_pathways files.",
            "description": "",
            "get": {
                "tags": [
                    "GTFS-Pathways"
                ],
                "parameters": [
                    {
                        "name": "polygon",
                        "description": "A polygon (bounding box) which specifies the area to be searched. A polygon (bounding box) is specified by a string providing the lat/lon coordinates of the corners of the polygon (bounding box). Coordinate should be specified as west, south, east, north.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "confidence_level",
                        "description": "Minimum confidence level required by application. Data returned will be at this confidence level or higher. Confidence level range is: 0 (very low confidence) to 100 (very high confidence).",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "pathways_schema_version",
                        "description": "version name of the pathways schema version that the application requests. list of versions can be found with /api/v1.0/gtfs_pathways path",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "date_time",
                        "description": "date-time for which the caller is interested in obtaining files. all files that are valid at the specified date-time and meet the other criteria will be returned.",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "tdei_org_id",
                        "description": "tdei-assigned organization id. Necessary to ensure that organization ids are unique. Represented as a UUID.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "tdei_record_id",
                        "description": "if included, returns the metadata for the specified file, all other parameters will be ignored.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "page_no",
                        "description": "Integer, defaults to 0.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "page_size",
                        "description": "page size. integer, between 200 to 100, defaults to 20.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "tdei_station_id",
                        "description": "id of a station in the tdei system. gtfs station ids may not be unique",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/gtfs_pathways_download_md"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array of `gtfs_pathways_download` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-pathways-files",
                "summary": "List pathways files meeting criteria.",
                "description": "This endpoint returns a json list of all gtfs pathways files stored in the TDEI system that meet the specified criteria. Criteria that can be specified include: polygon (bounding box), minimum confidence level, pathways version, date time and agency id.\n\nThis endpoint can be used by an application developer to obtain a list of gtfs pathways files in the TDEI system meeting the specified criteria. This endpoint returns a list of file-metadata including the uris of the file, which can be used to fetch the files themselves."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/gtfs_pathways_upload"
                            }
                        },
                        "multipart/form-data": {}
                    },
                    "required": true
                },
                "tags": [
                    "GTFS-Pathways"
                ],
                "responses": {
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Successful file creation. returns tdei_record_id of new file."
                    },
                    "400": {
                        "$ref": "#/components/responses/InvalidRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "upload-pathways-file",
                "summary": "create pathways file",
                "description": "This call allows a user to upload or create a new gtfs pathways file. The caller must provide metadata about the file. Required metadata includes information about how and when the data was collected and valid dates of the file. Returns the tdei_record_id of the uploaded file."
            }
        },
        "/api/v1/gtfs-flex/versions": {
            "summary": "List GTFS flex versions supported by TDEI.",
            "description": "",
            "get": {
                "tags": [
                    "GTFS-Flex"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/versionList"
                                }
                            }
                        },
                        "description": "Returns a list of flex versions supported by TDEI."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-flex-versions",
                "summary": "List available GTFS flex versions",
                "description": "List GTFS flex versions supported by TDEI.\n\nReturns a json list of the GTFS flex versions supported by TDEI."
            }
        },
        "/api/v1/gtfs-flex/{tdei_record_id}": {
            "summary": "Returns a gtfs flex  file",
            "get": {
                "tags": [
                    "GTFS-Flex"
                ],
                "parameters": [
                    {
                        "name": "tdei_record_id",
                        "description": "tdei_record_id for a file, represented as a uuid",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/octet-stream": {}
                        },
                        "description": "Success. Returns the file as an octet-stream."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/FlexFileNotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "get-flex-file",
                "summary": "returns a gtfs_flex file",
                "description": "returns a specific gtfs_flex file identified by the record_id"
            }
        },
        "/api/v1/gtfs-pathways/{tdei_record_id}/": {
            "summary": "Returns a gtfs pathways file",
            "get": {
                "tags": [
                    "GTFS-Pathways"
                ],
                "parameters": [
                    {
                        "name": "tdei_record_id",
                        "description": "tdei_record_id for a file, represented as a uuid",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/octet-stream": {}
                        },
                        "description": "Success. Returns the file as application/octet-stream."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/PathwaysFileNotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "get-pathways-file",
                "summary": "returns a gtfs_pathways file",
                "description": "returns a specific gtfs_pathways file identified by the tdei_record_id"
            }
        },
        "/api/v1/osw/{tdei_record_id}/": {
            "summary": "Returns an osw file",
            "get": {
                "tags": [
                    "OSW"
                ],
                "parameters": [
                    {
                        "name": "tdei_record_id",
                        "description": "tdei_record_id for a file, represented as a uuid",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "geojson": {}
                        },
                        "description": "Returns the osw file - will be geojson."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "404": {
                        "$ref": "#/components/responses/OSWNotFound"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "get-osw-file",
                "summary": "returns a geojson osw file",
                "description": "returns a specific osw file identified by the record_id"
            }
        },
        "/api/v1/gtfs-flex": {
            "summary": "Path used to manage gtfs flex files.",
            "description": "",
            "get": {
                "tags": [
                    "GTFS-Flex"
                ],
                "parameters": [
                    {
                        "name": "polygon",
                        "description": "A polygon (bounding box) which specifies the area to be searched. A polygon is specified by a string providing the lat/lon coordinates of the corners of the polygon. Coordinate should be specified as west, south, east, north.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "confidence_level",
                        "description": "Minimum confidence level required by application. Data returned will be at this confidence level or higher. Confidence level range is: 0 (very low confidence) to 100 (very high confidence).",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "flex_schema_version",
                        "description": "version name of the flex schema version that the application requests. list of versions can be found with /api/v1.0/gtfs_flex path",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "tdei_org_id",
                        "description": "tdei-assigned organization id. Necessary to ensure that organization ids are unique. Represented as a UUID.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "date_time",
                        "description": "date-time for which the caller is interested in obtaining files. all files that are valid at the specified date-time and meet the other criteria will be returned.",
                        "schema": {
                            "format": "date-time",
                            "type": "string"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "tdei_record_id",
                        "description": "if included, returns the metadata for the specified file, all other parameters will be ignored.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "page_no",
                        "description": "Page number, defaults to 0.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "page_size",
                        "description": "Integer, between 200 to 100, defaults to 20.",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "tdei_service_id",
                        "description": "Id of the flex service.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/gtfs_flex_download_md"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array of `gtfs_flex_download` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-flex-files",
                "summary": "List flex files meeting specified criteria.",
                "description": "This endpoint returns a json list of all gtfs flex files stored in the TDEI system that meet the specified criteria. Criteria that can be specified include: polygon (bounding box), minimum confidence level, flex version, date time and organization id.\n\nThis endpoint can be used by an application developer to obtain a list of gtfs flex files in the TDEI system meeting the specified criteria. This endpoint returns a list of file-metadata including the uris of the file, which can be used to fetch the files themselves."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/gtfs_flex_upload"
                            }
                        },
                        "multipart/form-data": {}
                    },
                    "required": true
                },
                "tags": [
                    "GTFS-Flex"
                ],
                "responses": {
                    "202": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "description": "Successful file creation. returns tdei_record_id of new file."
                    },
                    "400": {
                        "$ref": "#/components/responses/InvalidRequest"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "upload-flex-file",
                "summary": "upload a new gtfs_flex file",
                "description": "This call allows a user to upload or create a new gtfs flex file. The caller must provide metadata about the file. Required metadata includes information about how and when the data was collected and valid dates of the file. Returns the tdei_record_id of the uploaded file."
            }
        },
        "/api/v1/organizations": {
            "summary": "Path used to retrieve the list of organizations with data in the TDEI system.",
            "description": "",
            "get": {
                "tags": [
                    "General"
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/organization"
                                    }
                                }
                            }
                        },
                        "description": "Successful response - returns an array of `organization` entities."
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-organizations",
                "summary": "List Organizations",
                "description": "Path used to retrieve the list of organizations with data in the TDEI system. Allows callers to get the tdei_org_id id for an organization.\n\nReturns the tdei_org_id and organization information for all organizations with data in the TDEI system. "
            }
        },
        "/api/v1/gtfs-pathways/stations": {
            "summary": "Path used to retrieve the list of stations with data in the TDEI system.",
            "description": "",
            "get": {
                "tags": [
                    "GTFS-Pathways"
                ],
                "parameters": [
                    {
                        "name": "tdei_org_id",
                        "description": "TDEI organization id.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/station"
                                    }
                                }
                            }
                        },
                        "description": "Returns an array of `Station` entities. "
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-stations",
                "summary": "List Stations",
                "description": "Path used to retrieve the list of stations with data in the TDEI system. Allows callers to get the tdei_station_id id for a station.\n\nReturns the tdei_station_id and station information for all stations with data in the TDEI system. \n\nIf tdei_org_id param is specified, will return stations for that organization."
            }
        },
        "/api/v1/gtfs-flex/services": {
            "summary": "Path used to retrieve the list of gtfs-flex feeds in the TDEI system.",
            "description": "",
            "get": {
                "tags": [
                    "GTFS-Flex"
                ],
                "parameters": [
                    {
                        "name": "tdei_org_id",
                        "description": "tdei_org_id - a tdei-assigned id for an organization. org_ids can be retrieved using the path /api/v1/organizations.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/service"
                                    }
                                }
                            }
                        },
                        "description": "Returns an array of `Service` entities. "
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "security": [
                    {
                        "ApplicationId": []
                    }
                ],
                "operationId": "list-flex-services",
                "summary": "List GTFS Flex Services",
                "description": "Path used to retrieve the list of GTFS Services in the TDEI system. Allows callers to get the tdei_service_id id for a service.\n\nReturns the tdei_service_id and service name for all services in the TDEI system. \n\nIf tdei_org_id param is used, will return services for that organization."
            }
        }
    },
    "components": {
        "schemas": {
            "versionList": {
                "title": "Root Type for VersionList",
                "description": "List of API Versions.",
                "required": [
                    "versions"
                ],
                "type": "object",
                "properties": {
                    "versions": {
                        "description": "A list of the versions of a data standard (GTFS-Flex, GTFS-Pathways, OSW) supported by TDEI.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/versionSpec"
                        }
                    }
                }
            },
            "station": {
                "description": "Includes gtfs station information and a tdei agency id. Necessary as gtfs station id may not be unique across agencies.",
                "required": [
                    "station_name",
                    "polygon"
                ],
                "type": "object",
                "properties": {
                    "tdei_station_id": {
                        "description": "tdei assigned station id. Necessary to ensure that station ids are unique.",
                        "type": "integer"
                    },
                    "station_name": {
                        "description": "typically the station_name used in GTFS files",
                        "type": "string"
                    },
                    "polygon": {
                        "$ref": "#/components/schemas/polygon",
                        "description": "A polygon that defines the area of the station."
                    }
                },
                "example": {
                    "tdei_station_id": 30,
                    "station_name": "Northgate",
                    "polygon": {
                        "type": "FeatureCollection",
                        "features": [
                            {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "Polygon",
                                    "coordinates": [
                                        [
                                            [
                                                -122.20985412597656,
                                                47.65868172346142
                                            ],
                                            [
                                                -122.24418640136719,
                                                47.65636923655089
                                            ]
                                        ]
                                    ]
                                }
                            }
                        ]
                    }
                }
            },
            "gtfs_flex_upload": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "tdei_org_id",
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "flex_schema_version",
                    "data_source",
                    "tdei_service_id"
                ],
                "type": "object",
                "properties": {
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "Date-time that data was collected. If uploader includes time, time should be specified in UTC time. If uploader does not include time, time will be registered as 12:01am UTC time on the date specified.",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "polygon": {
                        "$ref": "#/components/schemas/polygon",
                        "description": "Optional polygon that indicates the boundaries of data included in this file. "
                    },
                    "flex_schema_version": {
                        "description": "version of gtfs flex schema this file conforms to",
                        "type": "string"
                    },
                    "tdei_org_id": {
                        "description": "tdei-assigned organization id. Represented as UUID. Organization ids can be retrieved using the /api/v1.0/organizations path.",
                        "type": "string"
                    },
                    "tdei_service_id": {
                        "description": "TDEI id of a GTFS Flex service",
                        "type": "string"
                    }
                },
                "example": "{\n    \"tdei_org_id\": \"5cfdf0f1-902b-4e2d-9297-b979b2d5d905\",\n    \"tdei_service_id\": \"\"29dd4f2e-981a-46dc-b00d-0dc1937b2e53,\n    \"collected_by\": \"See best practices document\",\n    \"collection_date\": \"2018-02-10T09:30Z\",\n    \"collection_method\": \"See best practices document\",\n    \"valid_from\": \"2018-02-10T09:30Z\",\n    \"valid_to\": \"2018-02-10T09:30Z\",\n    \"flex_schema_version\": \"v1.1\",\n    \"data_source\": \"See best practices document\",\n    \"polygon\": {\n        \"type\": \"FeatureCollection\",\n        \"features\": [\n            {\n                \"type\": \"Feature\",\n                \"properties\": {},\n                \"geometry\": {\n                    \"type\": \"Polygon\",\n                    \"coordinates\": [\n                        [\n                            [\n                                -122.20985412597656,\n                                47.65868172346142\n                            ],\n                            [\n                                -122.24418640136719,\n                                47.65636923655089\n                            ]\n                        ]\n                    ]\n                }\n            }\n        ]\n    }\n}"
            },
            "gtfs_pathways_upload": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "tdei_org_id",
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "pathways_schema_version",
                    "data_source",
                    "tdei_station_id"
                ],
                "type": "object",
                "properties": {
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "Date-time that data was collected. If uploader includes time, time should be specified in UTC time. If uploader does not include time, time will be registered as 12:01am UTC time on the date specified.",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "tdei_station_id": {
                        "description": "tdei-assigned station id. Represented as UUID. Station ids can be retrieved using the /api/v1.0/stations path.",
                        "type": "string"
                    },
                    "pathways_schema_version": {
                        "description": "version of gtfs pathways schema this file conforms to",
                        "type": "string"
                    },
                    "tdei_org_id": {
                        "description": "tdei-assigned organization id. Represented as UUID. Organization ids can be retrieved using the /api/v1.0/organizations path.",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_org_id": "5cfdf0f1-902b-4e2d-9297-b979b2d5d905",
                    "tdei_station_id": "29dd4f2e-981a-46dc-b00d-0dc1937b2e53",
                    "collected_by": "See best practices document",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "See best practices document",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "pathways_schema_version": "v1.1",
                    "data_source": "See best practices document"
                }
            },
            "osw_upload": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "osw_schema_version",
                    "data_source",
                    "polygon",
                    "tdei_org_id"
                ],
                "type": "object",
                "properties": {
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "Date-time that data was collected. If uploader includes time, time should be specified in UTC time. If uploader does not include time, time will be registered as 12:01am UTC time on the date specified.",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "polygon": {
                        "description": "Polygon that indicates the boundaries of data included in this file. ",
                        "type": "string"
                    },
                    "osw_schema_version": {
                        "description": "version of gtfs flex schema this file conforms to",
                        "type": "string"
                    },
                    "tdei_org_id": {
                        "description": "id of the organization which this file is for.",
                        "type": "string"
                    }
                },
                "example": {
                    "collected_by": "See best practices document",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "See best practices document",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "osw_schema_version": "v1.1",
                    "data_source": "See best practices document",
                    "tdei_org_id": "4e991e7a-5c16-4ebf-ad31-3a3625bcca10",
                    "polygon": {
                        "type": "FeatureCollection",
                        "features": [
                            {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "Polygon",
                                    "coordinates": [
                                        [
                                            [
                                                -122.20985412597656,
                                                47.65868172346142
                                            ],
                                            [
                                                -122.24418640136719,
                                                47.65636923655089
                                            ]
                                        ]
                                    ]
                                }
                            }
                        ]
                    }
                }
            },
            "versionSpec": {
                "title": "Root Type for versionSpec",
                "description": "Specification for a data standards (GTFS-Flex, GTFS-Pathways, OSW) versions.",
                "required": [
                    "specification",
                    "version",
                    "documentation"
                ],
                "type": "object",
                "properties": {
                    "version": {
                        "description": "version string",
                        "type": "string"
                    },
                    "documentation": {
                        "description": "link to the documentation",
                        "type": "string"
                    },
                    "specification": {
                        "description": "link to the specification for the data standard",
                        "type": "string"
                    }
                },
                "example": {
                    "version": "v1.0",
                    "documentation": "link to v1.0 documentation",
                    "specification": "link to the v1.0 specification"
                }
            },
            "pageable": {
                "description": "provides information about pageability.",
                "required": [
                    "total_pages",
                    "current_page",
                    "total_items",
                    "num_pages"
                ],
                "type": "object",
                "properties": {
                    "total_pages": {
                        "description": "total number of pages in the response",
                        "type": "integer"
                    },
                    "current_page": {
                        "description": "the start page of the current response",
                        "type": "integer"
                    },
                    "total_items": {
                        "description": "The total number of items in this response.",
                        "type": "integer"
                    },
                    "num_pages": {
                        "description": "the number of pages provided in this response.",
                        "type": "integer"
                    }
                },
                "example": {
                    "total_pages": 2,
                    "current_page": 0,
                    "total_items": 30,
                    "num_pages": 20
                }
            },
            "gtfs_flex_download_md": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "tdei_org_id",
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "flex_schema_version",
                    "confidence_level",
                    "tdei_record_id",
                    "data_source",
                    "polygon",
                    "download_url",
                    "tdei_service_id"
                ],
                "type": "object",
                "properties": {
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "confidence_level": {
                        "description": "tdei-generated confidence level. Confidence level range is: 0 (very low confidence) to 100 (very high confidence).",
                        "type": "integer"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "polygon": {
                        "$ref": "#/components/schemas/polygon",
                        "description": "Polygon that indicates the boundaries of data included in this file. "
                    },
                    "tdei_record_id": {
                        "description": "unique id identifying the file in the tdei system, can be used to retrieve the file itself.",
                        "type": "string"
                    },
                    "flex_schema_version": {
                        "description": "version of gtfs flex schema this file conforms to",
                        "type": "string"
                    },
                    "download_url": {
                        "description": "The url from which this file can be downloaded.",
                        "type": "string"
                    },
                    "tdei_org_id": {
                        "description": "tdei-assigned organization id. Represented as UUID. Organization ids can be retrieved using the /api/v1.0/organizations path.",
                        "type": "string"
                    },
                    "tdei_service_id": {
                        "description": "the id of the data service being downloaded from",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_org_id": "5cfdf0f1-902b-4e2d-9297-b979b2d5d905",
                    "tdei_feed_id": "29dd4f2e-981a-46dc-b00d-0dc1937b2e53",
                    "collected_by": "See best practices document",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "See best practices document",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "flex_schema_version": "v1.1",
                    "confidence_level": 41,
                    "data_source": "See best practices document",
                    "polygon": {
                        "type": "FeatureCollection",
                        "features": [
                            {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "Polygon",
                                    "coordinates": [
                                        [
                                            [
                                                -122.20985412597656,
                                                47.65868172346142
                                            ],
                                            [
                                                -122.24418640136719,
                                                47.65636923655089
                                            ]
                                        ]
                                    ]
                                }
                            }
                        ]
                    },
                    "tdei_record_id": "4e991e7a-5c16-4ebf-ad31-3a3625bcca10",
                    "download_url": "/api/v1/gtfs-flex/{tdei_record_id}"
                }
            },
            "gtfs_flex_download": {
                "description": "information included when providing a list of gtfs flex files.",
                "required": [
                    "pageable",
                    "gtfs_flex_metadata"
                ],
                "type": "object",
                "properties": {
                    "pageable": {
                        "$ref": "#/components/schemas/pageable",
                        "description": "pageability information"
                    },
                    "gtfs_flex_metadata": {
                        "description": "metadata about gtfs flex files",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/gtfs_pathways_download_md"
                        }
                    }
                }
            },
            "gtfs_pathways_download_md": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "tdei_org_id",
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "pathways_schema_version",
                    "confidence_level",
                    "tdei_record_id",
                    "data_source",
                    "tdei_station_id",
                    "download_url"
                ],
                "type": "object",
                "properties": {
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "confidence_level": {
                        "description": "tdei-generated confidence level. Confidence level range is: 0 (very low confidence) to 100 (very high confidence).",
                        "type": "integer"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "tdei_station_id": {
                        "description": "tdei-assigned station id. Represented as UUID. Station ids can be retrieved using the /api/v1.0/stations path.",
                        "type": "string"
                    },
                    "tdei_record_id": {
                        "description": "unique id identifying the file in the tdei system, can be used to retrieve the file itself.",
                        "type": "string"
                    },
                    "pathways_schema_version": {
                        "description": "version of gtfs pathways schema this file conforms to",
                        "type": "string"
                    },
                    "download_url": {
                        "description": "The url from which this file can be downloaded.",
                        "type": "string"
                    },
                    "tdei_org_id": {
                        "description": "tdei-assigned organization id. Represented as UUID. Organization ids can be retrieved using the /api/v1.0/organizations path.",
                        "type": "string"
                    }
                },
                "example": "{\n    \"collected_by\": \"See best practices document\",\n    \"collection_date\": \"2018-02-10T09:30Z\",\n    \"collection_method\": \"See best practices document\",\n    \"confidence_level\": 41,\n    \"data_source\": \"See best practices document\",\n    \"download_url\": \"/api/v1/gtfs-pathways/{tdei_record_id}\",\n    \"pathways_schema_version\": \"v1.1\",\n    \"tdei_org_id\": \"5cfdf0f1-902b-4e2d-9297-b979b2d5d905\",\n    \"tdei_station_id\": \"29dd4f2e-981a-46dc-b00d-0dc1937b2e53\",\n    \"valid_from\": \"2018-02-10T09:30Z\",\n    \"valid_to\": \"2018-02-10T09:30Z\",\n    \"tdei_record_id\": \"4e991e7a-5c16-4ebf-ad31-3a3625bcca10\",\n}"
            },
            "gtfs_pathways_download": {
                "description": "information to be provided along with a list of pathways files",
                "required": [
                    "pageable",
                    "gtfs_pathways_metadata"
                ],
                "type": "object",
                "properties": {
                    "pageable": {
                        "$ref": "#/components/schemas/pageable",
                        "description": "pageability information"
                    },
                    "gtfs_pathways_metadata": {
                        "description": "metadata about gtfs pathways files",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/gtfs_pathways_download_md"
                        }
                    }
                }
            },
            "osw_download_md": {
                "title": "Root Type for gtfs_flex",
                "description": "represents a gtfs_flex data file. same as in consumer api, ",
                "required": [
                    "collected_by",
                    "collection_date",
                    "collection_method",
                    "valid_from",
                    "osw_schema_version",
                    "tdei_record_id",
                    "data_source",
                    "polygon",
                    "confidence_level",
                    "download_url"
                ],
                "type": "object",
                "properties": {
                    "collected_by": {
                        "description": "Description of who data was collected by. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "collection_date": {
                        "format": "date-time",
                        "description": "date-time that data was collected",
                        "type": "string"
                    },
                    "collection_method": {
                        "description": "Method by which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "valid_from": {
                        "format": "date-time",
                        "description": "date from which this file is valid",
                        "type": "string"
                    },
                    "valid_to": {
                        "format": "date-time",
                        "description": "date until which this data is valid",
                        "type": "string"
                    },
                    "data_source": {
                        "description": "Description of data source or sources from which the data was collected. See Best Practices document for information on how to format this string.",
                        "type": "string"
                    },
                    "polygon": {
                        "$ref": "#/components/schemas/polygon",
                        "description": "Polygon that indicates the boundaries of data included in this file. ",
                        "example": ""
                    },
                    "confidence_level": {
                        "description": "tdei-generated confidence level. Confidence level range is: 0 (very low confidence) to 100 (very high confidence).",
                        "type": "integer"
                    },
                    "tdei_record_id": {
                        "description": "unique id identifying the file in the tdei system, can be used to retrieve the file itself.",
                        "type": "string"
                    },
                    "osw_schema_version": {
                        "description": "version of gtfs flex schema this file conforms to",
                        "type": "string"
                    },
                    "download_url": {
                        "description": "The url from which this file can be downloaded.",
                        "type": "string"
                    },
                    "tdei_org_id": {
                        "description": "id of the organization with which this file is associated",
                        "type": "string"
                    }
                },
                "example": {
                    "collected_by": "See best practices document",
                    "collection_date": "2018-02-10T09:30Z",
                    "collection_method": "See best practices document",
                    "valid_from": "2018-02-10T09:30Z",
                    "valid_to": "2018-02-10T09:30Z",
                    "osw_schema_version": "v1.1",
                    "confidence_level": 41,
                    "data_source": "See best practices document",
                    "tdei_org_id": "4e991e7a-5c16-4ebf-ad31-3a3625bcca10",
                    "tdei_record_id": "4e991e7a-5c16-4ebf-ad31-3a3625bcca10",
                    "download_url": "/api/v1/osw/{tdei_record_id}",
                    "polygon": {
                        "type": "FeatureCollection",
                        "features": [
                            {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "Polygon",
                                    "coordinates": [
                                        [
                                            [
                                                -122.20985412597656,
                                                47.65868172346142
                                            ],
                                            [
                                                -122.24418640136719,
                                                47.65636923655089
                                            ]
                                        ]
                                    ]
                                }
                            }
                        ]
                    }
                }
            },
            "osw_download": {
                "description": "information provided with a list of osw files to be downloaded",
                "required": [
                    "pageable",
                    "osw_metadata"
                ],
                "type": "object",
                "properties": {
                    "pageable": {
                        "$ref": "#/components/schemas/pageable",
                        "description": "pageability information"
                    },
                    "osw_metadata": {
                        "description": "metadata about the osw files",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/osw_download_md"
                        }
                    }
                }
            },
            "polygon": {
                "title": "Root Type for polygon",
                "description": "geo-json polygon",
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string"
                    },
                    "features": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "type": {
                                    "type": "string"
                                },
                                "properties": {
                                    "type": "object"
                                },
                                "geometry": {
                                    "type": "object",
                                    "properties": {
                                        "type": {
                                            "type": "string"
                                        },
                                        "coordinates": {
                                            "type": "array",
                                            "items": {
                                                "type": "array",
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "format": "double",
                                                        "type": "number"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "example": {
                    "type": "FeatureCollection",
                    "features": [
                        {
                            "type": "Feature",
                            "properties": {},
                            "geometry": {
                                "type": "Polygon",
                                "coordinates": [
                                    [
                                        [
                                            -122.20985412597656,
                                            47.65868172346142
                                        ],
                                        [
                                            -122.24418640136719,
                                            47.65636923655089
                                        ]
                                    ]
                                ]
                            }
                        }
                    ]
                }
            },
            "organization": {
                "description": "Includes gtfs agency information and a tdei agency id. Necessary as gtfs agency id may not be unique across agencies.",
                "required": [
                    "org_name",
                    "polygon"
                ],
                "type": "object",
                "properties": {
                    "org_name": {
                        "description": "Organization name. For transit agencies, typically the agency name used in GTFS releases.",
                        "type": "string"
                    },
                    "tdei_org_id": {
                        "description": "tdei-assigned organization id. Necessary to ensure that organization ids are unique. Represented as a UUID.",
                        "type": "string"
                    },
                    "polygon": {
                        "$ref": "#/components/schemas/polygon",
                        "description": "Polygon that defines the service area of the organization."
                    },
                    "description": {
                        "description": "A one-sentence description of this organization.",
                        "type": "string"
                    }
                },
                "example": {
                    "tdei_org_id": "29dd4f2e-981a-46dc-b00d-0dc1937b2e53",
                    "org_name": "King County Metro",
                    "description": "King County Metro provides transit services to King County, WA",
                    "polygon": {
                        "type": "FeatureCollection",
                        "features": [
                            {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "Polygon",
                                    "coordinates": [
                                        [
                                            [
                                                -122.20985412597656,
                                                47.65868172346142
                                            ],
                                            [
                                                -122.24418640136719,
                                                47.65636923655089
                                            ]
                                        ]
                                    ]
                                }
                            }
                        ]
                    }
                }
            },
            "service": {
                "description": "Includes name and tdei id of a gtfs flex service. ",
                "required": [
                    "service_name",
                    "polygon"
                ],
                "type": "object",
                "properties": {
                    "service_name": {
                        "description": "name of the gtfs-flex service",
                        "type": "string"
                    },
                    "tdei_service_id": {
                        "description": "tdei assigned service id. Necessary to ensure that service ids are unique.",
                        "type": "integer"
                    },
                    "polygon": {
                        "$ref": "#/components/schemas/polygon",
                        "description": "A polygon that defines the service area for this service."
                    }
                },
                "example": {
                    "tdei_service_id": "29dd4f2e-981a-46dc-b00d-0dc1937b2e53",
                    "service_name": "Hyde Shuttle",
                    "polygon": {
                        "type": "FeatureCollection",
                        "features": [
                            {
                                "type": "Feature",
                                "properties": {},
                                "geometry": {
                                    "type": "Polygon",
                                    "coordinates": [
                                        [
                                            [
                                                -122.20985412597656,
                                                47.65868172346142
                                            ],
                                            [
                                                -122.24418640136719,
                                                47.65636923655089
                                            ]
                                        ]
                                    ]
                                }
                            }
                        ]
                    }
                }
            }
        },
        "responses": {
            "Unauthorized": {
                "description": "This request is unauthorized. The API key or Authorization token provided is not valid."
            },
            "InternalServerError": {
                "description": "An server error occurred."
            },
            "PathwaysFileNotFound": {
                "description": "A GTFS pathways file that matches the specified parameters (combination of agencyid, stationid, confidence level, and version) was not found."
            },
            "FlexFileNotFound": {
                "description": "A GTFS flex file that matches the specified parameters (combination of agencyid, confidence level, and version) was not found."
            },
            "FileIdNotFound": {
                "description": "A file with the specified id was not found. Use the /tdei_consumer/v1.0/gtfs_pathways or /tdei_consumer/v1.0/gtfs_flex endpoints to find valid file ids. "
            },
            "OSWNotFound": {
                "description": "OSW data meeting the specifications (version and bounding box) was not found.Data is expected to be available for King and Snohomish counties in Washington, Multnomah and Columbia counties in Oregon, and Baltimore and Harford counties in Maryland."
            },
            "InvalidRequest": {
                "description": "The request was invalid. For example, the meta-data may not be valid."
            }
        },
        "securitySchemes": {
            "ApplicationId": {
                "type": "apiKey",
                "description": "Application Id required by all applications that use the TDEI Consumer API.",
                "name": "appID",
                "in": "query"
            }
        }
    },
    "security": [
        {
            "ApplicationId": []
        }
    ]
}
